<<<<<<< HEAD
:root {
    --primary: #334155;
    --secondary: rgb(76, 79, 85);
}

@tailwind base;

* {
    scrollbar-width: thin;
    scrollbar-color: var(--secondary) var(--primary);
}

*::-webkit-scrollbar {
    width: 7px;
}

*::-webkit-scrollbar-track {
}

*::-webkit-scrollbar-thumb {
    background-color: var(--primary);
    border-radius: 14px;
}

@tailwind components;

<<<<<<< HEAD
=======
.snap-y-mandatory {
    scroll-snap-type: y mandatory;
}

.active-tab {
    border-bottom-color: transparent;
}

.not-active-tab {
    border-color: transparent;
}

>>>>>>> 5c32090 ([enhancement-v3] Added skills section, responsiveness and pdf viewer)
=======
@tailwind base;
@tailwind components;
>>>>>>> 348e8b5 ([Step-1] Initial Design and Setup)
@tailwind utilities;